name: Build Flutter APK

on:
  push:
    branches: [ "main" ] # Ganti dengan nama branch utama Anda (master/main)
  workflow_dispatch: # Supaya bisa di-run manual

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17' # Sesuaikan dengan versi Java yang kompatibel dengan versi Flutter Anda

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # flutter-version: '3.19.0' # Opsional: definisikan versi spesifik jika perlu

      # --- BAGIAN KRITIS: DECODE RAHASIA ---
      - name: Decode Keystore
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks

      - name: Create key.properties
        run: |
          echo "storePassword=${{ secrets.ANDROID_STORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.ANDROID_KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=upload-keystore.jks" >> android/key.properties
      # -------------------------------------

      - name: Get Dependencies
        run: flutter pub get

      - name: Build APK Release
        run: flutter build apk --release

      # Upload APK agar bisa didownload dari GitHub
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk-note
          path: build/app/outputs/flutter-apk/app-noteapp.apk